# Java
*.class

# Logs
*.log

# Compiled source
bin/
out/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# OS-generated
.DS_Store
Thumbs.db

# Maven/Gradle
/target/
/.gradle/
build/

# Misc
*.db
*.sql~

# PostgreSQL driver
lib/postgresql-42.7.5.jar
